.navbar__component {
    width: 100%;
    height: 60px;
    background-color: #131A22;
    display: flex;
}

.navbar__text {
    color: white;
}

.navbar__logo{
    background: url('https://ik.imagekit.io/gaganEcomm/amazon-image/sprite_350x.png?updatedAt=1681641015130') no-repeat -9px -48px;
	width: 100px;
	height: 32px;
    margin: 18px;
}

.navbar__locator {
    display: flex;
    margin: 20px 0px;
}

.navbar__location {
    font-weight: bold;
    margin: 0px 5px;
}

.navbar__locatorImage {
    background: url('https://ik.imagekit.io/gaganEcomm/amazon-image/sprite_350x.png?updatedAt=1681641015130') no-repeat -70px -305px;
	width: 19px;
	height: 22px;
}

.navbar__search {
    display: flex;
    margin-left: 50px;
}

.navbar__categories {
    width: 60px;
    height: 45px;
    margin-top: 8px;
    background-color: #e6e5e5;
    border-radius: 5px 0px 0px 5px;
    text-align-last: center;
}

.navbar__searchBox {
    width: 640px;
    height: 40px;
    margin-top: 8px;
}

.navbar__searchIconBox {
    background: #FEBE68;
    height: 45px;
    width: 45px;
    margin-top: 8px;
    border-radius: 0px 5px 5px 0px;
}

.navbar__searchIcon {
    background: url('https://ik.imagekit.io/gaganEcomm/amazon-image/sprite_350x.png?updatedAt=1681641015130') no-repeat -9px -289px;
	width: 23px;
	height: 23px;
    margin: 11px;
 }

 .navbar__signin {
    width: 125px;
    margin-top: 10px;
    margin-left: 80px;
 }

 .navbar__orders {
    width: 80px;
    margin-top: 10px;
    margin-left: 10px;
 }

 .navbar__cart {
   display: flex;
   margin-top: 10px;
 }

 .navbar__cartImage {
    background: url('https://ik.imagekit.io/gaganEcomm/amazon-image/sprite_350x.png?updatedAt=1681641015130') no-repeat -9px -339px;
	width: 40px;
	height: 28px;
 }

 .navbar__cartItem {
    position: relative;
    left: -23px;
    top: -3px;
    font-weight: bold;
    color: #F08805;
 }

 .navbar__cartText {
    margin-top: 15px;
    font-weight: bold;
 }

 .navbar__footer {
    width: 100%;
    height: 34px;
    background-color: #22303E;
    color: white;
    display: flex;
 }

 .navbar__footerText {
    margin: 5px 10px;
    font-size: 14px;
    font-weight: bold;
 }