.checkout__main {
    background-color: #EAEDED;
    height: 100vh;
}

.checkout__container {
    background-color: white;
    margin: 25px;
    width: 70vw;
}

.checkout__button {
    width: 260px !important;
    height: 40px;
    border-radius: 10px;
    margin: 5px;
    border: 0px;
    color: black;
    background-color: #FFD712;
}